---
title: Home
description: >-
  I’m a product marketing manager at Seenit with 7 years experience working
  across brand, product and marketing. For the last 3 and a half years I’ve been
  working at Seenit, a small SaaS startup based in London.
image: /assets/images/og-main.png
first_panels:
  - panel_text_section:
      - overline: Product marketing
      - header: Bringing remarkable products to market
      - panel_text_html: >-
          <p>From pricing and messaging, to competitive insights and
          go-to-market strategy, I've helped bring several products to
          market.</p>
    panel_content_section:
      - image: /assets/images/graphics/launch-graphic.svg
        alt: Graphic of a rocket launching
        image_subtext:
  - panel_text_section:
      - overline: Marketing
      - header: Delivering marketing that doesn’t feel like marketing
      - panel_text_html: >-
          <p>Having set-up the marketing team at Seenit from scratch, I've
          gained huge experience delivering simple, effective marketing that
          goes beyond interrupting.</p>
    panel_content_section:
      - image: /assets/images/graphics/marketing-graphic.svg
        alt: Graphic of a emails being sent
        image_subtext:
  - panel_text_section:
      - overline: Brand
      - header: Building brands worth talking about
      - panel_text_html: >-
          <p>I've had extensive experience building beautiful brands that go
          beyond just logo design.</p>
      - label: See portfolio
        link: /portfolio/
        new_tab: false
    panel_content_section:
      - image: /assets/images/graphics/build-graphic.svg
        alt: Graphic of a ladder
        image_subtext:
  - panel_text_section:
      - overline: Design
      - header: Pushing pixels to pack punches
      - panel_text_html: >-
          <p>Bus shelters and pull-up banners. Landing pages and logos. 3D
          medical animations and event lanyards. I've been involved in 100s of
          design projects across various disciplines.</p>
    panel_content_section:
      - image: /assets/images/graphics/design-graphic.svg
        alt: Graphic of an easel
        image_subtext:
---

<section class="min-640 pad-40">
    <div class="wrapper">
        <div class="row middle-md">
            <div class="col-xs-12 col-md-6">
                <div id="title-height-container">
                    <h1 class="headline">Hello, I’m Ed Stennett 👋</h1> 
                </div>
                <p class="body-2 editable">
                	I&rsquo;m a product marketing manager with seven years experience working across brand, product, and marketing. For the last three and a half years I&rsquo;ve been working at Seenit, a B2B SaaS company based in London.
                </p>
                <div class="button-group">
                    <a class="button brand editable" href="/portfolio/">Explore portfolio</a>
                    <a class="button ghost-brand editable" href="/contact/">Request CV</a>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 desktop-only">
                <div class="header-img">
                    <img src="/assets/images/graphics/hello-graphic.svg" alt="Graphic of a hand waving" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pad-120" id="about">
    <div class="wrapper">
        <div class="row middle-md">
            <div class="card">
                <div class="card-contents">
                    <div class="col-md-9">
                        <p class="overline editable">
                        	About
                        </p>
                        <h2 class="title editable">
                        	I help companies build and market remarkable products
                        </h2>
                        <p class="body-2 editable">
                        	I started out at a small Winchester-based agency where I worked for almost four years. I left in mid 2017 as Creative Director. I gained enormous experience across product, design, and technology, helping some of the largest pharmaceutical companies in the world. In the summer of 2017, I moved to London to join a 'Wired Top 100' start-up called Seenit where I work as a Product Marketing Manager. From go-to-market and competitor insights, to brand and marketing design, no two days are the same.
                        </p>
                        <p class="body-2 editable">
                        	In my spare time, I&rsquo;ve learnt to code mostly with HTML, CSS, Javascript, and Ruby, working on a number of professional web projects (and this site!). I&rsquo;ve worked with the static site generator Jekyll, a tool I&rsquo;ve used for all the websites I&rsquo;ve build for clients professionally.
                        </p>
                        <a class="button ghost-brand editable" href="/contact/">Request CV</a>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</section>
<section class="pad-120">
    <div class="wrapper">      
        {% include panels.html panels=page.first_panels %}        
    </div>
</section>
{% include showreel.html %}
