<section class="secondary-background">
    <div class="container">
        <div class="row">
            <div class="row-flex">
            {% for post in site.posts %}
            <div class="col-12 blog-post moreBox" style="display: none;">
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="post-link">{{ post.title }}</h3></a>
                <p class="meta">{{ post.date | date: "%B %-d, %Y" }}   |   {{ post.author }}</p>
                <div class="excerpt">
                    {{ post.content | strip_html | truncate: "160" }}
                </div>
            </div>
            {% endfor %}
            <div class="items-center" style="display: none;">
                <a href="#" id="loadMore"><button class="btn flat items-center" type="button"><span>Load more</span></button></a>
            </div>
        </div>
    </div>
    </div>
</section>


<script>
$( document ).ready(function () {
		$(".moreBox").slice(0, 12).show();
		if ($(".blog-post:hidden").length != 0) {
			$("#loadMore").show();
		}		
		$("#loadMore").on('click', function (e) {
			e.preventDefault();
			$(".moreBox:hidden").slice(2, 12).slideDown();
			if ($(".moreBox:hidden").length == 0) {
				$("#loadMore").fadeOut('slow');
			}
		});
	});
</script>
