<div class="bkg-{{include.seenit_colour | default: 'wash'}} case-study-banner glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            {% for study in site.case_studies %}
            <li class="glide__slide case-study">
                <div class="row middle-xs">
                    <div class="col-xs-12 col-md-5">
                        <div class="responsive-content wide">
                            <img class="case-image responsive-inner" src="{{study.image}}" alt="{{study.title}}" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5 col-md-offset-1">
                        {%- assign customer = site.customers | where_exp:"item", "item.path contains study.customer" | first -%}
                        <img class="cust-logo" src="{{customer.logos.logo_image}}" style="width:{{customer.logos.logo_sizes.medium_number}}px" alt="{{customer.name}}" />
                        <h3>{{study.title}}</h3>
                        <a class="button ghost-brand" href="{{study.url}}">Read customer story</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" /></svg>
        </button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" /></svg>
        </button>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
        {% for study in site.case_studies %}
            <button class="glide__bullet" data-glide-dir="={{forloop.index0}}"></button>
        {% endfor %}
    </div>
</div>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    new Glide('.case-study-banner', {type: 'carousel'}).mount();
  });
</script>
