{% for bar in include.lines.bars %}
    {% assign size = bar.value | times: 100 | divided_by: include.lines.max_value | append: '%' %}
    {% assign id = include.lines.chartId | append: '_' | append: forloop.index0 %}
    {% include progress_elements/line.html 
        id = id
        value= bar.value
        class=include.lines.textClass
        concatText = include.lines.concatText
        colour = bar.colour
        width = size
        time = bar.animation_duration
        hideText = bar.hideText
    %}
    <p class="bold" style="margin:8px 0 24px;">{{bar.text}}</p>
{% endfor %}