<!-- Portfolio Grid Section -->
<section class="container">
    <div class="row">
        {% for item in site.projects %}
        <a href="{{ site.baseurl }}{{ item.url }}" class="portfolio-link" data-keyboard="true">
            <div class="col-12 portfolio-item">
                <div class="caption" title="{{ item.title }}">
                    <div class="portfolio-flex">
                        <p class="portfolio-type">{{ item.type }}</p>
                        <h2 class="portfolio-title">{{ item.title }}</h2>
                        <p class="portfolio-description">{{ item.desc }}</p>
                    </div>
                </div>
                <img data-src="{{ site.baseurl }}/{{ item.img }}" class="img-fluid portfolio-img lazy no-padding" alt="{{ item.title }} banner image">
            </div>
        </a>
        {% endfor %}
    </div>
</section>