<section>
    <div class="wrapper">
        <div class="row middle-xs">
            <div class="col-xs-12 col-md-8 col-md-offset-2 txt-center margin-top-16">
                <p class="overline editable">All in all</p>
                <h2 class="editable title">Watch my showreel</h2>
                <p class="editable body-2 margin-bottom-32">I’m a product marketing manager at Seenit with 7 years experience working across product and marketing. For the last 3 and a half years I’ve been working at Seenit, a small SaaS startup based in London.</p>
            </div>
            <div class="col-xs-12 col-md-offset-1 col-md-10">
                <a class="play-video" href="https://www.youtube.com/embed/NVWAGdHa250">
                    <img data-src="/assets/images/video-thumbnail.png" class="lazyload" alt="What is Stellar?"/>
                </a>
            </div>
        </div>
    </div>
</section>