---
title: Portfolio
description: >-
  Seenit allows you to crowdsource and edit User-Generated Video content from
  anyone, anywhere in the world, and turn it into collaborative stories. A 100%
  remote way to produce video with an entirely human first approach.
image: /assets/images/open_graph/og_main.png
showreel:
  image: /assets/images/video-thumbnail.png
  video_url: 'https://www.youtube.com/embed/NVWAGdHa250'   
permalink: /portfolio/       
---

<section class="min-640 pad-40">
    <div class="wrapper">
        <div class="row middle-md">
            <div class="col-xs-12 col-md-6">
                <div id="title-height-container">
                    <h1 class="headline">Some of my latest work</h1> 
                </div>
                <p class="body-2 editable">
                	I've picked out a few pieces of work that I'm particularly proud of. Though not every story is one of success, each piece work shows some of what I can do. Unfortunately, I'm not able to share any client or internal work I did whilst at ACHiiVE.
                </p>
                <div class="button-group">
                    <a class="button brand editable" href="#portfolio">Explore portfolio</a>
                    <a class="button ghost-brand editable" href="/contact/">Request CV</a>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 desktop-only">
                <div class="header-img">
                    <img src="/assets/images/graphics/work-graphic.svg" alt="Graphic of stationary" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pad-64" id="portfolio">
    <div class="wrapper">
        <div class="row">
            {% for portfolio_item in site.portfolio %}
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                {% include featured_card.html 
                    image_position='side'
                    resource=portfolio_item
                %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% include showreel.html %}
