---
layout: fullscreen
---
<article>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p><a href="{{ site.baseurl }}/blog">Blog</a> / {{ page.title }}</p>
            </div>
        </div>
    </div>
    <div id="main" class="container">
        <div class="row">
            <div class="col-6">
                <div class="intro">
                    <h1 id="{{ page.title | cgi_escape }}" >{{ page.title }}</h1>
                    {% if page.img %}
                    <div class="blog-author-img-croppper">
                    <img data-src="{{ site.baseurl }}/{{ page.img }}" alt="{{ page.name }} photo" class="blog-author-img lazy"/>
                    </div>
                    {% endif %}
                    <p class="meta">
                        {{ page.date | date: "%B %-d, %Y" }}   |   {{ page.author }}
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {% if page.feature-img %}
                <img data-src="{{ site.baseurl }}/{{ page.feature-img }}" alt="{{ page.name }} photo" class="img-fluid blog-feature-img lazy"/>
                {% endif %}
                {{ content }}
            </div>
        </div>
    </div>
</article>