<!DOCTYPE html>
<html lang="en-GB">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <div class="content">
      {{ content }}
    </div>
  </body>

    
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChdOOpDB-EV1Vl-O0YtDlyn7lp0UmN93c"></script>
<script>
var locations = [
        ['Seenit HQ', 51.5248201, -0.0885471]
    ];
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: new google.maps.LatLng(51.5248201, -0.0885471), // Old Street
                disableDefaultUI: true,
        scrollwheel: false,
        draggable: false,
              styles: [
    {
        "featureType": "landscape.natural",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#e0efef"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "hue": "#1900ff"
            },
            {
                "color": "#c0e8e8"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 100
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit.line",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "lightness": 700
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#7dcdcd"
            }
        ]
    }
]
    });
    var infowindow = new google.maps.InfoWindow();
    
    var image = '{{ site.baseurl }}/assets/img/s-logo-icon-primary.png';
    
    var marker, i;
    for (i = 0; i < locations.length; i++) { 
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        icon: image
      });
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
</script>    

<script async src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
<script>
    'use strict';

    document.addEventListener('DOMContentLoaded', function() {
        if (document.querySelectorAll('.tabContainer').length && document.querySelectorAll('.sectionsContainer').length) {
            var activeTab = document.querySelector('.tabContainer').querySelector('.tabs .tab:first-child');
            var activeSection = document.querySelector('.sectionsContainer').querySelector('.sections .section:first-child');
            activeTab.classList.add('active');
            activeSection.classList.add('active');
        }

        app.tabs.initialize();
    }, false);

    var app = {
        tabs: {
            initialize: function() {
                if (document.querySelectorAll('.tabContainer').length) {
                    var container = document.querySelectorAll('.tabContainer');

                    for (var i = 0, l = container.length; i < l; i++) {
                        app.tabs.contain.call(null, container[i]);
                        app.tabs.setIndicatorWidth.call(null, container[i]);

                        var tabs = container[i].querySelectorAll('.tabs .tab');

                        for (var ii = 0, ll = tabs.length; ii < ll; ii++) {
                            tabs[ii].addEventListener('click', function() {
                                app.tabs.setActiveTab.call(this);
                            }, false);
                        }
                    }

                    window.addEventListener('resize', function() {
                        for (var i = 0, l = container.length; i < l; i++) {
                            app.tabs.contain.call(null, container[i]);
                            app.tabs.setIndicatorWidth.call(null, container[i]);
                        }
                    }, false);
                }
            },
            setIndicatorWidth: function(parent) {
                if (parent.querySelectorAll('.tabs div').length === 0) {
                    parent.querySelector('.tabs').appendChild(document.createElement('div'));
                    parent.querySelector('.tabs div').classList.add('indicator');
                }

                var indicator = parent.querySelector('.tabs .indicator');
                var containerRect = parent.querySelector('.tabs').getBoundingClientRect();
                var curTabRect = parent.querySelector('.tabs .tab.active').getBoundingClientRect();

                // left = left of active element minus left of parent container
                indicator.style.left = (curTabRect.left - containerRect.left) + 'px';
                // right = parent container width minus width of active element plus left of active element
                indicator.style.right = ((containerRect.left + containerRect.width) - (curTabRect.left + curTabRect.width)) + 'px';
            },
            setActiveTab: function() {
                var indicator = this.parentElement.querySelector('.indicator');
                var parent = this;
                var newTab = this;
                var newTabSelector = this.getAttribute('data-tab');
                var newSection = document.querySelector('.sectionsContainer .sections .section[data-section=' + newTabSelector + ']')
                var oldSection = document.querySelector('.sectionsContainer .sections .section.active');

                while (!parent.classList.contains('tabs')) {
                    parent = parent.parentElement;
                }

                var oldTab = parent.querySelector('.tab.active');

                var parentRect = parent.getBoundingClientRect();
                var newTabRect = newTab.getBoundingClientRect();
                var indicatorRect = indicator.getBoundingClientRect();

                if (indicatorRect.left < newTabRect.left) {
                    TweenMax.to(indicator, .2, {
                        right: ((parentRect.left + parentRect.width) - (newTabRect.left + newTabRect.width)) + 'px',
                        ease: Power2.easeOut
                    });

                    TweenMax.to(indicator, .2, {
                        left: (newTabRect.left - parentRect.left) + 'px',
                        ease: Power2.easeOut,
                        delay: .1
                    });
                } else {
                    TweenMax.to(indicator, .2, {
                        left: (newTabRect.left - parentRect.left) + 'px',
                        ease: Power2.easeOut
                    });

                    TweenMax.to(indicator, .2, {
                        right: ((parentRect.left + parentRect.width) - (newTabRect.left + newTabRect.width)) + 'px',
                        ease: Power2.easeOut,
                        delay: .1
                    });
                }

                oldTab.classList.remove('active');
                oldSection.classList.remove('active');
                this.classList.add('active');
                newSection.classList.add('active');

            },
            contain: function(container) {

            }
        }
    }
</script>
</html>
