---
layout: default
---

<main>
    <div class="hero">
        <div class="grid-overlay hero-title">
            <h1>Hello, I am Ed Stennett. I am a UI Designer based on London. <span class="text-secondary">I help companies build beautiful products.</span></h1>
        </div>
    </div>
    <div class="content-area grid-overlay"></div>
</main>

<section>
    <div class="no-padding">
        <div class="col-8">
            <img data-src="{{ site.baseurl }}/assets/img/placeholder-1.jpg" class="no-padding lazy" alt="placeholder 1" />
        </div>
        <div class="col-4">
            <img data-src="{{ site.baseurl }}/assets/img/placeholder-2.jpg" class="no-padding lazy" alt="placeholder 2" />
        </div>
    </div>
</section>
