---
layout: fullscreen
---
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p><a href="{{ site.baseurl }}/projects">Projects</a> / {{ page.title }}</p>
            </div>
        </div>
    </div>
    <div id="main" class="container">
        <div class="row">
            <div class="col-6">
                <h2 id="{{ page.title | cgi_escape }}" class="title">{{ page.title }}</h2>
                <p>{{ page.intro }}</p>
                {% if page.link %}
                <a href="{{ page.link}}" target="_blank" rel="noopener noreferrer">
                    <button class="btn flat btn-left"><span>Site link</span></button>
                </a>
                {% endif %}
            </div>
        </div>

    </div>
</section>

{{ content }}

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %} {% include post_nav.html %} {% endif %}