
// Fonts

@font-face {
    font-family: Playfair;
    font-display: auto;
    src: url("/assets/css/fonts/PlayfairDisplay-Black.ttf");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Playfair;
    font-display: auto;
    src: url("/assets/css/fonts/PlayfairDisplay-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Neuzeit;
    font-display: auto;
    src: url("/assets/css/fonts/neuzeit-grotesk-black.otf");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Neuzeit;
    font-display: auto;
    src: url("/assets/css/fonts/neuzeit-grotesk-bold.otf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Neuzeit;
    font-display: auto;
    src: url("/assets/css/fonts/neuzeit-grotesk-regular.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Euclid;
    font-display: auto;
    src: url("/assets/css/fonts/EuclidCircularA-Light.otf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: Euclid;
    font-display: auto;
    src: url("/assets/css/fonts/EuclidCircularA-Regular.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Euclid;
    font-display: auto;
    src: url("/assets/css/fonts/EuclidCircularA-Medium.otf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Euclid;
    font-display: auto;
    src: url("/assets/css/fonts/EuclidCircularA-Semibold.otf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: PatrickHand;
    font-display: auto;
    src: url("/assets/css/fonts/PatrickHand-Regular.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
