// Typography
$font-family-main: 'Fira Sans', Helvetica, Arial, sans-serif;
$font-family-headings: 'Playfair Display', serif;
$font-family-mono: 'Roboto Mono', monospace;
$font-size: 1.25em;

// Padding
$padding-large: 10%;
$padding-small: 5%;
$padding-x-small: 3%;
$padding-x-x-small: 1%;

// Brand colours
$white: #fff;

// Teal - uses Google material colour terminology (500,700,900)

$fivehundred: #639BAB;
$sevenhundred: #19272B;


$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images


// Greys
$body-primary: #454B54;
$body-secondary: #676C74;
$neutral: #C9CACB;
$background: #EEEFF0;
$background-secondary: #F5F6F7;


// Typography colours
$text-color: #999999;
$selection-color: #E49273; // visible when highlighting text
$blockquote-color: #EEF7FA; // $background-color;

// Tags color
$tags-color: #b0b0b0;

//Search color
$text-shadow: #3f3f3f;
$search-color: #999;

// Header colours
$header-link-color: #383838;

// Mobile display
$break: 768px;
$sm-break: 450px;
